body{
    background-color: rgb(238, 238, 238);
    padding: 100px;
    padding: 50px 100px 100px 100px;
}

h1, h2, h3, h4, h5, h6{
    font-family: Georgia, serif;
}

a{
    color: rgb(0, 102, 0);
}

blockquote{
    font-family: Georgia, serif;
}

header{
    position: relative;
}

header .header-nav{
    list-style-type: none;
    display: inline-block;
    position: absolute;
    left: 83%;
    top: 10%;
}

header .header-nav li{
    display: inline-block;
    margin-right: 10px;
}

header h1{
    display: inline-block;
}

header hr{
    border: 1.4px solid black;
    background-color: black;
}

main{
    width: 70%;
    display: inline-block;
}

main .first-article{
    overflow: auto;
}

img{
    padding: 10px;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 16px 0px rgba(0,0,0,0.75);
}

main .first-article img{
    float: right;
    margin-left: 10px;
}

main .second-article p:nth-child(3){
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    margin: 0px;
}

main .second-article blockquote{
    box-sizing: border-box;
    display: inline-block;
    width: 40%;
    border-left: 2px solid gray;
    color: gray;
    padding: 20px;
    margin: 0px 0px 0px 50px;
}

main .second-article blockquote p{
    text-align: right;
}

main .third-article{
    overflow: auto;
}

main .third-article img{
    float: left;
    margin-right: 30px;
}

aside{
    display: inline-block;
    width: 28%;
    position: relative;
    bottom: 750px;
    left: 250px;
    font-size: large;
}
